{% extends "base_site_auth.html" %}

{% block title %} Login {% endblock %}

{% block pagedescription %} Page d'authentification {% endblock %}

{% block content %}
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-5 login-signin-on d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid"
             style="background-image: url(/static/assets/media/bg/bg-2.jpg);">
            <div class="login-form text-center text-white p-7 position-relative overflow-hidden">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="#">
                        <img src="assets/media/logos/logo-letter-13.png" class="max-h-75px" alt=""/>
                    </a>
                </div>
                <!--end::Login Header-->

                <!--begin::Login Sign in form-->
                <div class="login-signin">
                    <div class="mb-20">
                        <h5 class="opacity-40 font-weight-normal">MaBET</h5>
                        <h3 class="opacity-40 font-weight-normal">Authentification</h3>
                        <p class="opacity-40">Veuillez saisir vos données d'authentification:</p>
                    </div>
                    <form class="form" id="kt_login_signin_form">
                        <div class="form-group">
                            <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8"
                                   type="text" placeholder="Email" name="email"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8"
                                   type="password" placeholder="Mot de passe" name="password"/>
                        </div>
                        <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8 opacity-60">
                           {# <div class="checkbox-inline">
                                <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                                    <input type="checkbox" name="remember"/>
                                    <span></span>
                                    Garder la session active
                                </label>
                            </div>#}
                            <a href="javascript:;" id="kt_login_forgot" class="text-white font-weight-bold">Mot de passe
                                oublié ?</a>
                        </div>
                        <div class="form-group text-center mt-10">
                            <button id="kt_login_signin_submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3">
                                S'authentifier
                            </button>
                        </div>
                    </form>
                  {#  <div class="mt-10">
                        <span class="opacity-40 mr-4">
                            Vous n'avez pas de compte?
                        </span>
                        <a href="javascript:;" id="kt_login_signup" class="text-white opacity-30 font-weight-normal">S'enregistrer</a>
                    </div>#}
                </div>
                <!--end::Login Sign in form-->

                <!--begin::Login Sign up form-->
                <div class="login-signup">
                    <div class="mb-20">
                        <h3 class="opacity-40 font-weight-normal">Enregistrement</h3>
                        <p class="opacity-40">Création d'un nouveau compte utilisateur</p>
                    </div>
                    <form class="form text-center" id="kt_login_signup_form">
                        <div class="form-group ">
                            <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8"
                                   type="text" placeholder="Username" name="username"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8"
                                   type="text" placeholder="Email" name="email" autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8"
                                   type="password" placeholder="Mot de passe" name="password"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8"
                                   type="password" placeholder="Confirmation" name="confirm_password"/>
                        </div>
                        <div class="form-group text-left px-8">
                            <div class="checkbox-inline">
                                <label class="checkbox checkbox-outline checkbox-white opacity-60 text-white m-0">
                                    <input type="checkbox" name="agree"/>
                                    <span></span>
                                    J'accepte les <a href="#" class="ml-1">termes et les conditions</a>.
                                </label>
                                </label>
                            </div>
                            <div class="form-text text-muted text-center"></div>
                        </div>
                        <div class="form-group">
                            <button id="kt_login_signup_submit"
                                    class="btn btn-pill btn-primary opacity-90 px-15 py-3 m-2">S'enregistrer
                            </button>
                            <button id="kt_login_signup_cancel"
                                    class="btn btn-pill btn-outline-white opacity-70 px-15 py-3 m-2">Annuler
                            </button>
                        </div>
                    </form>
                </div>
                <!--end::Login Sign up form-->

                <!--begin::Login forgot password form-->
                <div class="login-forgot">
                    <div class="mb-20">
                        <h3 class="opacity-40 font-weight-normal">Mot de passe oublié ?</h3>
                        <p class="opacity-40">Saisissez vote email afin de le réinitiliser</p>
                    </div>
                    <form class="form" id="kt_login_forgot_form">
                        <div class="form-group mb-10">
                            <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8"
                                   type="text" placeholder="Email" name="email" autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <button id="kt_login_forgot_submit"
                                    class="btn btn-pill btn-primary opacity-90 px-15 py-3 m-2">Envoyer
                            </button>
                            <button id="kt_login_forgot_cancel"
                                    class="btn btn-pill btn-outline-white opacity-70 px-15 py-3 m-2">Annuler
                            </button>
                        </div>
                    </form>
                </div>
                <!--end::Login forgot password form-->
            </div>
        </div>
    </div>
    <!--end::Login-->
</div>
<!--end::Main-->
{% endblock %}

{% block javascripts %}
    <script src="/static/assets/js/login/login-general.js"></script>
    <script src="/static/assets/js/pages/crud/forms/widgets/input-mask.js?v=7.0.6"></script>
    <script src="/static/assets/js/csrf_setup.js"></script>
{% endblock %}
