{% extends "base_site_auth.html" %}

{% block title %} Changer votre mot de passe {% endblock %}

{% block pagedescription %} Page de changement de mot de passe {% endblock %}

{% block content %}

<div class="d-flex flex-column flex-root justify-content-center">
  <!--begin::Login-->
  <div class="login login-2 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white justify-content-center">
    <!--begin::Aside-->
    <div class="login order-2 order-lg-1 d-flex flex-column-fluid flex-lg-row-auto bgi-size-cover bgi-no-repeat p-7 p-lg-10 ">
      <!--begin: Aside Container-->
      <div class="d-flex flex-row-fluid flex-column justify-content-between">
        <!--begin::Aside body-->
        <div class="d-flex flex-column-fluid flex-column flex-center mt-5 mt-lg-0">
          <a href="#" class="mb-15 text-center">
            <img src="/static/assets//media/logos/mizan.png" class="max-h-95px" alt="" />
          </a>

          <!--begin::Signin-->
          <div class="login-form login-signin">
            <div class="text-center mb-10 mb-lg-20">
              <h2 class="font-weight-bold">Changez votre mot de passe</h2>
              <br>
              <p class="text-muted font-weight-bold">Veuillez saisir le nouveau mot de passe et le confirmer ci-dessous</p>
            </div>

            <!--begin::Form-->
            <form class="form" novalidate="novalidate" id="reset_password_form">

              <div class="form-group py-3  m-0">
                  <input class="form-control h-auto border-0 px-0 placeholder-dark-75" type="password" placeholder="Mot de passe" name="password" autocomplete="off" />
              </div>
              <div class="form-group py-3 border-top m-0">
                  <input class="form-control h-auto border-0 px-0 placeholder-dark-75" type="password" placeholder="Confirmation mot de passe" name="confirm_password" autocomplete="off" />
              </div>

              <div class="form-group d-flex flex-wrap justify-content-center align-items-center mt-2">

                <button id="reset_password_submit"  class="btn btn-primary btn-pill shadow-sm py-4 px-9 font-weight-bold">Changer !</button>
              </div>
            </form>
            <!--end::Form-->
          </div>
          <!--end::Signin-->
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block javascripts %}
<script src="/static/assets//js/accountActions.js"></script>
<script src="/static/assets//js/csrf_setup.js"></script>

{% endblock %}
