{% extends "base_site.html" %}

{% block title %} Tableau de bord {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block subheader %}
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Details-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5"></h5>
                <!--end::Title-->
                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--end::Separator-->

                <div class="d-flex align-items-center mr-5">
                    <span class="text-dark-50 font-weight-bold">
                    </span>
                </div>
                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--end::Separator-->
                <div class="d-flex align-items-center">
                    <span class="text-dark-50 font-weight-bold"></span>
                </div>

            </div>
            <!--end::Details-->
            <!--begin::Toolbar-->
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
{% endblock subheader %}

{% block content %}

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container-fluid ">

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/static/assets/js/csrf_setup.js"></script>
{% endblock %}

