<!--begin::Main-->

<!-- begin::Header mobile -->
{% include "partials/_header-mobile.html" %}
<!-- end::Header mobile -->

<div class="d-flex flex-column flex-root">

    <!-- begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">

        <!-- begin::Aside -->
        {% include "partials/_aside.html" %}
        <!-- end::Aside -->

        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <!-- begin::header -->
            {% include "partials/_header.html" %}
            <!-- end::Header -->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

                <!-- begin::Subheader -->
                {% block subheader %}

                {% endblock %}
                <!-- end::Subheader -->

                <!-- begin::Content -->
                {% block content %}

                {% endblock %}
                <!-- end::Content -->
            </div>

            <!--end::Content-->


            <!-- begin::Footer -->
            <!-- end::Footer -->
        </div>

        <!--end::Wrapper-->
    </div>

    <!--end::Page-->
</div>

<!--end::Main-->
